@charset "UTF-8";

.auroraModaliframeFix {
    position:absolute;
    bottom:8px;
    background:transparent;
}

.auroraModalWrapper {
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px 7px;
	z-index: 1101;
	outline: none;
	display: none;
}

.auroraModalOuter {
	position: relative;
	width: 100%;
	/*height: 100%;*/
	background: #fff;
}

.auroraModalHandle {
   background:transparent;
   width:100%;
   height:45px;
   position:absolute;
   top:0;
   padding-left:2px;
   cursor:move;
}

.auroraModalCancel {
    position: absolute;
    z-index:99999;
	top:12px;
    right:14px;
    width:20px;
    height:19px;
    cursor:pointer;
    display:none;
    background-image: url(../../../../../../../../www/themes/admin/aurora/modal/img/classic/en_us/close_ico.png);
}
.auroraModalCancel:hover {
    background-position: -20px 0px;
}

#auroraModalSpinner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	overflow: hidden;
	z-index: 999999;
}

#auroraModalSpinner div {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	background-image: url(../../../../../../../../www/themes/admin/aurora/core/img/classic/en_us/spinner32.gif);
}

.auroraModalTitle {
   background: url(../../../../../../../../www/themes/admin/aurora/core/img/classic/en_us/lightBox_title_lt.png) no-repeat;
   padding-left:2px;
}
.auroraModalTitle div {
   background: url(../../../../../../../../www/themes/admin/aurora/core/img/classic/en_us/lightBox_title_rt.png) top right no-repeat;
   padding-right:2px;
}
.auroraModalTitle div div {
   background: url(../../../../../../../../www/themes/admin/aurora/core/img/classic/en_us/lightBox_title_bg.png) repeat-x;
   padding: 0;
   height:45px;
}

.auroraModalTitle h2 {
    text-indent:20px;
    color:#efefef;
    text-shadow: 1px 1px 0px #000;
    line-height:45px;
}

.auroraModalFrame {
	width: 100%;
	border: none;
	display: block;
}

.auroraModalBorder {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

.auroraModalBorder-n {
	top: -8px;
	left: 0;
	width: 100%;
	height: 8px;
	background-image: url(../../../../../../../../www/themes/admin/aurora/modal/img/classic/en_us/fancy_shadow_n.png);
}

.auroraModalBorder-ne {
	top: -8px;
	right: -7px;
	width: 7px;
	height: 8px;
	background-image: url(../../../../../../../../www/themes/admin/aurora/modal/img/classic/en_us/fancy_shadow_ne.png);
}

.auroraModalBorder-e {
	top: 0;
	right: -7px;
    width: 7px;
	height: 100%;
	background-image: url(../../../../../../../../www/themes/admin/aurora/modal/img/classic/en_us/fancy_shadow_e.png);
}

.auroraModalBorder-se {
	bottom: -8px;
	right: -7px;
    width: 7px;
	height: 8px;
	background-image: url(../../../../../../../../www/themes/admin/aurora/modal/img/classic/en_us/fancy_shadow_se.png);
}

.auroraModalBorder-s {
	bottom: -8px;
	left: 0;
	width: 100%;
	height: 8px;
	background-image: url(../../../../../../../../www/themes/admin/aurora/modal/img/classic/en_us/fancy_shadow_s.png);
}

.auroraModalBorder-sw {
	bottom: -8px;
	left: -7px;
	width: 7px;
	height: 8px;
	background-image: url(../../../../../../../../www/themes/admin/aurora/modal/img/classic/en_us/fancy_shadow_sw.png);
}

.auroraModalBorder-w {
	top: 0;
	left: -7px;
	width: 7px;
	height: 100%;
	background-image: url(../../../../../../../../www/themes/admin/aurora/modal/img/classic/en_us/fancy_shadow_w.png);
}

.auroraModalBorder-nw {
	top: -8px;
	left: -7px;
	width: 7px;
	height: 8px;
	background-image: url(../../../../../../../../www/themes/admin/aurora/modal/img/classic/en_us/fancy_shadow_nw.png);
}